header {
    background: #88aee1;
    margin: 0px;
    padding: 0px;
}

#acm_logo {
    max-width: 150px;
    /* min-width: 50%; */
    margin: 10px auto;
    /* vertical-align: middle; */
    display: block;
}

#title {
    color: white;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3.5em;
    font-family: Georgia;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-family: Verdana;
}

@media (max-width: 800px) {
    header .centered {
        text-align: center;
    }

    #acm_logo {
        max-width: 100px;
    }

    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
}
