html, body {
    height: 100%;
}

body {
    background: url('../img/ucuenca_landscape-min.jpg') no-repeat center center fixed;
    background-size: cover;
    /* background-color: #f3f3ff; */
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

h1 {
    font-size: 3.5em;
    font-family: Georgia;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-family: Verdana;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
    text-decoration: underline;
}

.article-1 {
    box-shadow: 0px 3px 8px #fdf6e3;
    background-color: #fdf6e3;
    color: #586e75;
}

.article-1 h3 {
    color: #002b36;
}

.article-1 h4 {
    color: #586e75;
}

.article-2 {
    box-shadow: 0px 3px 8px #657b83;
    background-color: #657b83;
    color: #fdf6e3;
}

.article-2 h3 {
    color: white;
}

.article-2 h4 {
    color: #eee8d5;
}

header {
    box-shadow: 0px 5px 8px gray;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 100;
}

#acm_logo {
    max-width: 200px;
    margin: 10px auto;
    display: block;
}

#ucuenca_logo {
    max-width: 300px;
    margin: 10px auto;
    display: block;
}

#title {
    text-shadow: 3px 3px 2px black;
    text-align: center;
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#title h2 {
    font-size: 2.5em;
}

#article-ucuenca {
    height: 400px;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 5px 8px gray;
    position: relative;
    z-index: 90;
}

#ucuenca-landscape {
    width: 700px;
    max-height: 350px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    /* box-shadow: 0px 5px 8px gray; */
}

#article-why {
    height: 600px;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 80;
}

#article-why .text {
    margin-top: 25px;
    font-size: 1.5em;
    text-align: justify;
}

#article-contact {
    height: 400px;
    width: 100%;
    font-size: 22px;
    padding: 15px;
    position: relative;
    text-align: right;
    z-index: 70;
}

#article-contact .icons img{
    width: 70px;
}

#article-staff {
    height: 800px;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 60;
}

#article-footer {
    height: 300px;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 50;
}

#article-staff table {
    color: black;
    background-color: white;
}

@media (max-width: 1100px) {

    #article-why {
        height: 800px;
    }
}

@media (max-width: 992px) {
    h3 { font-size: 30px; }
    h4 { font-size: 20px; }

    #article-why {
        height: 1000px;
    }
}

@media (max-width: 768px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }

    header .centered {
        text-align: center;
    }

    #acm_logo {
        max-width: 150px;
    }

    #article-why {
        height: 1200px;
    }

    #article-staff {
        height: 900px;
    }
}

@media (max-width: 700px) {
    #article-staff {
        height: 1000px;
    }
}

@media (max-width: 650px) {
    #article-contact {
        height: 500px;
    }

    #article-staff {
        height: 1150px;
    }
}
